@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('normalize.css');
@import url('nosotros.css');
@font-face{
  font-family: 'Gotham';
  src: url('../fuentes/Gotham-Book-Font/Gotham_Book_Font.otf') format("truetype");

}
/*Creacion  de variables SCSS*/
:root{
  --white: #ffffff;
  --black: #000000;
  --primary: #A61E2F; /* principal_1*/
  --principal-1:#A61E2F;
  --secondary: #3E7C59; /*secundario_1*/
  --dark: #2f2f2f;
  --light: #dce5e4;
  --body_color: #F8F7F6; /*neutral 98*/
  --neutral-98: #F8F7F6;

  --font-family: "Nunito", sans-serif;
}

*{
  margin: 0 auto;

}

.img_principal {
  width: 100%;
  height: 720px;
  margin-left: 0px;
  margin-top: 0px;
}

.cuerpo{
  margin-top: 0px;
  width: 100%;
  margin: 0 auto;
}

a{
  text-decoration-line: none;
  color: #DDDDDD;
}
.navbar{ margin: 0 auto;
    background: var(--primary)!important;
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 100%;
    padding: 8px 80px;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;

    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.05px;

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(5px);

}
samp {
  font-weight: bold;
  color: #DDDDDD;
}


.navbar-toogler {
  border-color: transparent;
}

.navbar-toogler:active, .navbar-toogler:focus {
  box-shadow: none;
  outline: none;
}

.custom-navbar-nav li a {
  font-weight: 500;
  color: var(--white) !important;
  opacity: .5;
  transition: .3sa all ease;
  position: relative;
}

.custom-navbar-nav li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  background: var(--secondary);
  height: 5px;
  opacity: 1;
  visibility: visible;
  width: 0;
  transition: .15s all ease-out;
}

.custom-navbar-nav li a:hover {
  opacity: 1;
}

.custom-navbar-nav li a:hover:before {
  width: calc(100% - 16px);
}

.custom-navbar-nav li.active a {
  opacity: 1;
}

.custom-navbar-nav li.active a:before {
  width: calc(100% - 16px);
}
.imagen_fondo{
width: 100%;
height: 720px;
margin-left: 0px;
margin-top: 0px;
}
/*
.imagen_fondo{
  display:flex;
  width:100%;
  position: relative;
}*//*
.imagen_vector{

  position: absolute;
  top: 149px;
  right:866px;
  bottom: 221px;
  left: 0px;
}*/

.footer{
    background: var(--primary)!important;
  /* position: absolute;*/
    height: 400px;
    width: 100%;
    
    /*bottom: 0px;*/
}
.footer-contenido{
  height: 280px;
  width: 100%;
}

.footer-img{
  margin-top: 51px;
  width:100%;
  height:80px;
}
.img_f{
  width: 136px;
  height:80px;
}
.footer-data{
  width: 100%;
  height: 176px;
  display: flex;
}
.footer-texto1{
  width: 40%;
  color: #DDDDDD;
  margin: 0;
}
.footer-texto2{
  width: 25%;
  color: #DDDDDD;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.footer-texto3{
  width: 25%;
  color: #DDDDDD;
}

.redes{
  width: 100%;
  height: 30px;
  display: flex;
  gap: 23px
}

.redes p{
  margin:0;
}
.facebook{
  width: 10px;
  height: 15px;
}
.twitter{
  width: 15px;
  height: 15px;
}

.linkedin{
  width: 15px;
  height: 15px;
}

.instagram{
  width: 20px;
  height: 20px;
}


.footer-links{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.05px;
  color: #DDDDDD;
  width: 100%;
}
.links-links{
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  height: 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}


.links-nosotros{
  width: 59px;
  height: 20px;
  margin-top: 15px;
}

.links-serv_prest{
  width: 155px;
  height: 20px;
 margin-top: 15px;
}

.links-esp_med{
  width: 152px;
  height: 20px;
 margin-top: 15px;
}

.links-contacto{
  width: 58px;
  height: 20px;
 margin-top: 15px;
}


.footer-contacto{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;
  color: #DDDDDD;
}

.contacto-contacto{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

.contacto-telefono{
  width: 190px;
  height: 26px;
  margin-top: 35px;
}
.tel{
  width: 24px;
  height: 24px;

}
.contacto-mail{
  width: 220px;
  height: 26px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.mail{
  width: 26.3px;
  height: 24px;
}

.contacto-direccion{
  width: 227.93px;
  height: 52px;
  margin-top: 20px;
}

.dir{
  width: 26.3px;
  height: 24px;
}




@media screen and ((min-width: 620px)and (max-width: 780px)) {

  .imagen_fondo {
    height: 320px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .imagen_vector {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 120px;
    border-radius: 6px 55px 2px 6px;
    -webkit-border-radius: 6px 20px 2px 6px;
    -moz-border-radius: 6px 55px 2px 6px;
   }

   .cuatro{
    width: 25px;
    height: 30px;
   }

   .imagen_cuatro {
    width: 30px;
    height: 30px;
    top: 145px;
    left: 25px;
    }

    .imagen_cero {
      width: 30px;
      height: 30px;
      top: 145px;
      left: 51px;
  }

  .texto_juntos {
    font-size: 6px;
    top: 150px;
    left: 82px;
  }

  .texto_cuidando {
    font-size: 7.5px;
    top: 158px;
    left: 82px;
  }
  .texto_de_vos {
    font-size: 7.5px;
    top: 166px;
    left: 82px;
  }

  .circulo_rojo{
    width: 50px;
    height: 50px;
  }

  .imagen_espiral_uno {
    width: 30px;
    height: 30px;
    top: 172px;
    left: 138px;
  }

  .imagen_circulo_verde {
    width: 30px;
    height: 30px;
    top: 195px;
    left: 125px;
  }

  .circulo_verde{
    width: 30px;
    height: 30px;
  }

  .circulo_espiral{
    width: 80px;
    height: 80px;
  }

  .imagen_espiral_dos {
    width: 80px;
    height: 80px;
    top: 180px;
    left: 73px;
}

}



@media screen and ((min-width: 230px)and (max-width: 620px)) {

  .navbar{
    padding: 10px 50px;
  }
  .img_principal {
    width: 100%;
    height: 220px;
  }

  .imagen_fondo {
    height: 220px;
    margin-left: 0px;
    margin-top: 0px;
  }
  .imagen_vector {
    width: 160px;
    height: 90px;
    left: 0px;
    top: 120px;
    border-radius: 6px 55px 2px 6px;
    -webkit-border-radius: 6px 20px 2px 6px;
    -moz-border-radius: 6px 55px 2px 6px;
   }

   .cuatro{
    width: 25px;
    height: 30px;
   }

   .imagen_cuatro {
    width: 30px;
    height: 30px;
    top: 145px;
    left: 25px;
    }

    .imagen_cero {
      width: 30px;
      height: 30px;
      top: 145px;
      left: 51px;
  }

  .texto_juntos {
    font-size: 6px;
    top: 150px;
    left: 82px;
  }

  .texto_cuidando {
    font-size: 7.5px;
    top: 158px;
    left: 82px;
  }
  .texto_de_vos {
    font-size: 7.5px;
    top: 166px;
    left: 82px;
  }

  .circulo_rojo{
    width: 50px;
    height: 50px;
  }

  .imagen_espiral_uno {
    width: 30px;
    height: 30px;
    top: 172px;
    left: 138px;
  }

  .imagen_circulo_verde {
    width: 30px;
    height: 30px;
    top: 195px;
    left: 125px;
  }

  .circulo_verde{
    width: 30px;
    height: 30px;
  }

  .circulo_espiral{
    width: 80px;
    height: 80px;
  }

  .imagen_espiral_dos {
    width: 80px;
    height: 80px;
    top: 180px;
    left: 73px;
  }

  .footer_inicial_flex_container{
    flex-direction: column;
    justify-content: center;
    height: 100px;
  }

  .card_informa{
    width: 80%;
    font-size: 14px;
    justify-content: center;
    align-items: center;
  }

  .icono {
    width: 15px;
    height: 15px;
  }
  samp {
    font-weight: bold;
    color: #DDDDDD;
  }
  .mapa {
    width: 100%;
    height: 250px;
  }
  iframe{
    width: 100%;
    height: 250px;
  }

  .footer-img{
    display: flex;
    justify-content: center;
  }

  .img_f {
    width: 145px;
    height: 60px;
  }
  .footer-data{
    flex-direction: column;
  }
  .footer-texto1{
    width: 100%;
    font-size: 12px;
  }

  .footer-texto2{
    display: none;
  }
  .footer-texto3{
    display: none;
  }

}
@media screen and ((min-width: 230px)and (max-width: 620px)) {
  .logo_header{
    margin-right: 120px;
  }
}
