#cuerpo_med_lab{
  background-color: #F8F7F6;
  width:auto;
  height: auto;
  margin-top: 0px;
  margin-left: 0px;
}
/*--encabezado--*/
.rectangulo_izq{
  position: flex;
  width: 45%;
  height: 660px;
  margin-left: 0px;
  margin-top: 0px;
  background: var(--principal-1);
}
/*<!-- titulo y texto rectangulo_izq-->*/
.p_titulo_izq{
  position: absolute;
  width: 552px;
  height: 144px;
  left: 76px;
  top: 120px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.03em;

  color: var(--neutral-98);
}
.p_texto_izq{
  position: absolute;
  width: 453px;
  height: 295px;
  left: 79px;
  top: 304px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;

  color: #EEF3F0;
}
/*<!--boton contactenos-->*/
.btn_contact{ cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;

  position: absolute;
  width: 189px;
  height: 44px;
  left: 79px;
  top: 624px;

  background:var(--white);
  border-radius: 3px;
}
.p_btn_contact{
  width: 157px;
  height: 20px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05px;

  color: #252A31;

  flex: none;
  order: 0;
  flex-grow: 0;
}
/*titulo titulo_ml*/
.titulo_ml{
/*  position: flex;*/
  width: 1128px;
  height: 52px;
  padding-left: calc(50% - 1128px/2);
padding-top: 30px;
padding-bottom: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #2D2926;
}
/*formulario mensaje */
#grilla{
  width: 90%;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
#col_car_art{
  width: 360px;
  height: 152px;
  /*left: 76px;
  top: 853px;*/
  margin-right: 10px;
  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
padding-top: 20px;
}
.img-art{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  float: left;
padding-right:  15px;

}

.text_art_g{

  width:290px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;
  color: #2D2926;
  display: flex;
  align-items: center;
}
/*seccion confian*/
.div_confia{

  width: 100%;
  height: 420px;
margin-top:  30px;
text-align: center;
display: flex;
  background: #A61E2F;
}
.titulo_confia{
  width: 100%;
  height: 108px;
padding-top: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  display: flex;
position:static;
  letter-spacing: -0.03em;

  color: #F8F7F6;
}
.carouselExampleControls{
  margin-top: 30px;
}
.card.confia{
  background-color: #A61E2F;
  padding-bottom: 15px
}
.d-block.w-40{
  width: 40%;
}
/*<!--servicio de med lab -->*/
.div_servmedlab{
  padding-top: 0px;
  height: auto;
  width: 100%;
  height: 718px;
}
.img_servmedlab{
  width: 477px;
  height: 718px;
  float:left;
  margin-top: 0;
  padding-right:  79px;
}
.titulo_servmedlab{
  width: 888px;
  height: 108px;
  padding-top: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.03em;

  color: #A61E2F;
}
.titulo_servmedlab2{
  width: 888px;
  height: 79px;
  padding-top: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;

  color: #2D2926;
}
.texto_servmedlab{
  width: 644px;
  height: 436px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;
padding-top: 30px;
padding-left: 120px;
  color: #2D2926;
}
.p_sml{
  margin-bottom: 10px;

}
