body{
  background-color: #F8F7F6;
}
#cuerpo_med_lab{
  background-color: #F8F7F6;
  width:auto;
  height: auto;
  margin-top: 90px;
  margin-left: 0px;
  display: flex;
}
/*--encabezado--*/
.rectangulo_izq{
  position: flex;
  width: 45%;
  height: 660px;
  margin-left: 0px;
  margin-top: 0px;
  background: var(--principal-1);
}

.rectangulo_dch {
  width: 65%;
  height: 660px;
  display: flex;
  object-fit: contain;
}
/*<!-- titulo y texto rectangulo_izq-->*/
.p_titulo_izq{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 72px;
  letter-spacing: -0.03em;

  color: var(--neutral-98);
}
.p_texto_izq{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;

  color: #EEF3F0;
}
/*<!--boton contactenos-->*/
.btn_contact{ cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;

  position: absolute;
  width: 189px;
  height: 44px;
  left: 79px;
  top: 624px;

  background:var(--white);
  border-radius: 3px;
}
.p_btn_contact{
  width: 157px;
  height: 20px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.05px;

  color: #252A31;

  flex: none;
  order: 0;
  flex-grow: 0;
}
/*titulo titulo_ml*/
.titulo_ml{
/*  position: flex;*/
  width: 1128px;
  height: 52px;
padding-top: 30px;
padding-bottom: 60px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  text-align: center;
  letter-spacing: -0.03em;

  color: #2D2926;
}
/*formulario mensaje */
#grilla{
  width: 90%;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}
#col_car_art{
  width: 360px;
  height: 152px;
  /*left: 76px;
  top: 853px;*/

  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
padding-top: 20px;
}
#col_car_art1{
  width: 360px;
  height: 152px;
  /*left: 76px;
  top: 853px;*/

  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
padding-top: 20px;
}
#col_car_art2{
  width: 360px;
  height: 152px;
  /*left: 76px;
  top: 853px;*/

  margin-bottom: 10px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
padding-top: 20px;
}


#row_cuadros #col_car_art1{
  margin-left:20%
}
#row_cuadros #col_car_art2{
  margin-right:20%;
}
.img-art{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  float: left;
padding-right:  15px;

}

.text_art_g{

  width:290px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;
  color: #2D2926;
  display: flex;
  align-items: center;
}
/*seccion confian*/
.div_confia{
  width: 100%;
  height: auto;
  text-align: center;

}
.titulo_confia{
  margin-left:auto;
 margin-right:auto;
 text-align: center;
  width: 100%;
padding-top: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.03em;
}
/* .carouselExampleControlsImg{
  margin-top: 30px;
}
.card.confia{
  background-color: #A61E2F;
  padding-bottom: 15px
}
.carousel-inner {
  width: 90%;
}
.carousel-item {
  width: 50%;
} */
.d-block.w-30{
  width: 30%;
}
/*<!--servicio de med lab -->*/
.div_servmedlab{
  padding-top: 20px;
  width: 100%;
  display: flex;
}
.contenido_img{
  width: 90%;
}
.img_servmedlab{
  object-fit: cover;
  height: 650px;
  
}
.titulos_servicios{
  width: 60%;
  height: 650px;
}

.titulo_servmedlab{
  width: 90%;
  height: 108px;
  padding-top: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.03em;

  color: #A61E2F;
}

.titulo_servmedlab2{
  width: 90%;
  height: 79px;
  padding-top: 30px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.02em;

  color: #2D2926;
}
.texto_servmedlab{
  width: 90%;
  height: 436px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;
  padding-top: 30px;
  padding-left: 60px;
  color: #2D2926;
}
.p_sml{
  margin-bottom: 10px;

}

.titulo_izq{
  padding-left: 10%;
  padding-top: 10%;
}
.parrafos{
  padding-left: 6%;
  width: 90%;
}

.tasas{
  width: 100%;
  height: 35em;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  position: relative;
}
.tasas_cuadro{
  background-color: #A61E2F;
  width: 95%;
  height: 20em;
  margin:0;
  display: flex;
}
.tasas_izq{
  width: 50%;
  height: 15em;
}
.tasas_derecha{
  width: 50%;
  height: 15em;
  padding-top: 8%;
}
.texto{
  width: 80%;
  font-family: Nunito;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  letter-spacing: -0.96px;
  padding-top: 28px;
  color:#F8F7F6;
}

.cuadro_flotante{
  background-color: crimson;
  width: 85%;
  height: 25em;
  margin: 0;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}
.texto_titulo{
  width: 80%;
  color: var(--neutro, #2D2926);
/* Nunito/H4/SM */
  font-family: Nunito;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
  padding-top: 28px;
}
.listas{
  display:flex;
  flex-direction: row;
}
.lista_derecha{
  width: 50%;
  padding-left: 8%;
}
.lista_izq{
  width: 50%;
}
.circulo_grande{
  
}
.circulo_grande::before {
  position:absolute;
  content:"";
  top:1%;
  left:1%;
  background-Color:#fff;
  height:98%;
  width:98%;
  border-radius:50% 50%;
}
.img_circulo{
  object-fit: cover;
  width:100%;
  height:100%;
  filter:#D8D0CE;
}
.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  border: none;
 
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card{
  width: 10rem;
}


.imagen_espiral_dos {
  position: absolute;
  width: 25%;
  top: 150px;
  left: 1px;
  z-index: -1;
}

.imagen_circulo_verde{
  width: 101.54px;
  height: 101.54px;

  position: absolute;
  top: 260px;
  /*right: 866.05px;
  bottom:147.06px;*/
  left: 105px;
}

.circle {
  background:#A7C3B3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: .6;
}

.imagen_espiral_uno{
  width: 15%;
  height: 134.52px;
  position: absolute;
  top:  250px;
  left: 253px;
}

.slider{
  height: 250px;
  margin:auto;
  position: relative;
  width: 90%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track{
  display:flex;
  width: calc(250px * 18);
  animation:scroll 40s linear infinite;
  background-color: white
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }
}

.slide{
  height: 150px;
  width: 250px;
  display:flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;

}

img{
  width: 100%;
  transition: transform 1s;
}
img:hover{
  transform: translateZ(20px);
}

@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: calc(100%/4);
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
  width: 100%;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  margin-bottom: 25px;
  border-radius: 15px;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 7em;
  }
}

@media screen and ((min-width: 230px)and (max-width: 620px)){
  #row_cuadros #col_car_art1 {
    margin-left: 0; 
  }
  .rectangulo_izq{
    width: 100%;
  }
  .p_titulo_izq{
    width: 100%;
    font-size: 42px;
    line-height: 52px;
    left: 60px;
  }
  .titulo_izq {
    padding-top: 10%;
    text-align: center;
    padding-left:0;
  }
  .parrafos {
    padding-left: 0;
    text-align: justify;
    width: 90%;
  }
  .titulo_ml{
    width: 100%;
    height: auto;
    padding-top: 0;
    font-size: 40px;
    padding-bottom: 0;
  }
  .carousel-inner {
    padding: 2em;
  }

  .div_servmedlab{
    display: flex;
    flex-direction: column;
  }
  .img_servmedlab{
    width: 95%;
    height: 350px;
    padding-right: 0;
  }

  .titulo_servmedlab{
    width: 90%;
    font-size: 38px;
    height: auto;
  }

  .titulo_servmedlab2{
    width: 90%;
    height: auto;
    font-size: 18px;
  }
  .texto_servmedlab{
    width: 90%;
    height: auto;
    font-size: 14px;
    padding-top: 0;
    padding-left: 15px;
  }
  .titulos_servicios{
    height: auto;
  }
  .div_servmedlab {
    height: auto;
  }
  .tasas{
    height: auto;
  }
  .tasas_derecha{
      width: 99%;
      height: auto; 
      padding-top: 0; 
  }
  .cuadro_flotante {
    margin: inherit;
    height: auto;
  }
  .tasas_cuadro{
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .tasas_izq{
    height: auto;
    width: 90%;
  }
  .texto{
    width: 90%;
    font-size: 28px;
  }
  
}
