:root {
  --negro: #393939;
  --texto-contacto-color:#F8F7F6;
  --color-titulo:#2D2926;
  /* Tipografía */
  --tipo-texto_contacto: 'Nunito', sans-serif;
  --tipo-secundaria: Verdana;
  --titulo: 'Montserrat', sans-serif;
}
.section_med_lab{
  width: 100%;
  margin: 0 auto;
  background-color: #F8F7F6;
}

.med_lab_portada{
  width: 100%;
  display: flex;
  padding-top: 6.5%;
  padding-bottom: 3%;
}

.med_lab_portada_texto{
 width: 50%;
 padding-top: 3%;
 background-color: #A61E2F; 
 padding-bottom: 3%;
}
.med_lab_container_text{
  width: 80%;
  
}

.med_lab_portada_img{
  width: 50%;
 
}
.med_lab_titulo{
  width: 100%;
}

.med_lab_titulo p{
  color:  #F8F7F6;
  font-family: var(--titulo);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; 
  letter-spacing: -2.16px;
  text-align: left;
}

.med_lab_texto{
  width: 80%;
  margin-left: 0px;
}

.med_lab_texto p{
  text-align:left;
  color:  #EEF3F0;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
  hyphens: none;
}

.btn-contacto{
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.btn-botton{
  color:  #252A31;
  text-align: center;
  font-family: var(--tipo-texto_contacto);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; 
  letter-spacing: -0.05px;
  border-radius: 3px;
  background: #FFF;
  padding: 12px 16px;
  text-align: center;
}

.img_med_lab_container{
  width: 100%;
}

.section_prestaciones{
  background-color: #F8F7F6;
  width: 100%;
}

.prestaciones_container{
  width: 95%;
  padding-bottom: 3%;
}

.prest_titulo{
 width: 100%;
}

.prest_titulo p{
  color:  #2D2926;
  text-align: center;
  font-family: var(--tipo-texto_contacto);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; 
  letter-spacing: -1.44px;
}

.cuadrosUno_prestaciones{
  width: 100%;
}

.row{
  margin-top: 1%;
}

.card{
  /* width: 400px; */
  padding: 24px;
  display: flex;
  align-items: center;
  height: 160px;
  /* gap: 24px; */
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  flex-direction: row;
}

.cuadro_img{
  width: 50%;
}

.img-art{
  width: 100px;
  height: 100px;
  flex-shrink: 0;
}
.cuadro_texto{
 width: 50%; 
 display: flex;
 align-items:flex-start;
 
}

.p_cuadro{
  color: #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
  text-align: left;
  margin-left: 0px;
  hyphens: none;
}

.row_cuadros{
  width: 100%;
}

/* .contenido{
  width: 69%;
  display: flex;
  justify-content: space-around;
} */

/* .ultimos_cuadros{
  width: 95%;
  display:flex;
  align-items: center;
} */

.primer{
  /* width: 400px;
  height: 150px; */
  /* width: 400px; */
  width: 450px;
  padding: 24px;
  display: flex;
  align-items: center;
  height: 160px;
  /* gap: 24px; */
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  flex-direction: row;
  margin-left: 0;
}

.segundo{
  width: 450px;
  padding: 24px;
  display: flex;
  align-items: center;
  height: 160px;
  /* gap: 24px; */
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  flex-direction: row;
  
}

.card_cuadros{
  padding: 24px;
  display: flex;
  align-items: center;
  height: 160px;
  /* gap: 24px; */
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  flex-direction: row;
}
#card_cuadros1{
  width: 66%;
  float: right;
}

#card_cuadros2{
  width: 66%;
  float: left;
}
.md_lab_empresas{
  width: 100%;
  height: 600px;
}

.md_lab_emp_conteiner{
  width: 95%;
  height: 600px;
  display: flex;
}
.emp_img{
  width: 50%;
  height:600px;
}
.emp_texto{
  width: 50%;
  height:600px;
}

.img_servmedlab{
  height:600px;
  object-fit: cover;
}

.emp_text_conteiner{
  width: 90%;
  height:600px;
}

.emp_titulo{
  width: 100%;

}

.titulo_servmedlab{
  color: #A61E2F;
  font-family: var(--tipo-texto_contacto);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.44px;
  text-align: left;
  hyphens: none;
}

.emp_subtitulo{
  width: 100%;
}

.titulo_servmedlab2{
  color:  #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 140% */
  letter-spacing: -0.4px;
  text-align: left;
  hyphens: none;
}
.lista{
  width: 100%;
  text-align: left;
}
.texto_servmedlab{
  font-family: var(--tipo-texto_contacto);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.18px;
  color: #2D2926;
  hyphens: none;
}

.p_sml {
   list-style-type: disc; 
}

.tasas{
  width: 100%;
  height: 650px;
  padding-top: 5%;
  position: relative;
}

.tasas_container{
  width: 95%;
  height: 500px;
}

.tasas_cuadro_rojo{
  background-color:#A61E2F;
  width: 90%;
  height: 400px;
  display: flex;
  float: right;

}

.tasas_texto_izq{
  width: 40%;
}
.tasas_texto_derecho{
  width: 60%;
  height: 400px;
}

.tasas_texto_izq{
  color:  #F8F7F6;
  font-family: var(--tipo-texto_contacto);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: -0.96px;
  text-align: left;
  hyphens: none;
  padding: 35px;
}

.lista_flotante{
  position: relative;
  width: 550px;
  height: 410px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 30px;
  top:160px;
}

.titulo_flotante{
  width: 100%;
}

.titulo_flotante p{
  color: #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; 
  letter-spacing: -1.08px;
  text-align: left;
  hyphens: none;
}

.cuadro_lista{
  display: flex;
}

.lista_derecha{
  width: 50%;
  color:#2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.26px;
  text-align: left;
  hyphens: none;
  padding-top: 25px;
}
.lista_derecha ul li{
  list-style-type: disc;
}
.lista_izq{
  width: 50%;
  color: #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: -0.26px;
  hyphens: none;
  text-align: left;
  padding-top: 25px;
}
.lista_izq ul li{
  list-style-type: disc;
}

.imagen_espiral_dos {
  position: absolute;
  width: 25%;
  top: 350px;
  left: 55px;
}
.imagen_circulo_verde{
  width: 101.54px;
  height: 101.54px;
  position: absolute;
  top: 460px;
  left: 250px;
}

.circle {
  background:#A7C3B3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: .6;
}

.imagen_espiral_uno{
  width: 15%;
  height: 134.52px;
  position: absolute;
  top: 400px;
  left: 320px;
}

.div_confia{
  width: 100%;
  height: 400px;
  padding-top: 5%;
}
.titulo_confia p{
  color:  #2D2926;
  text-align: center;
  font-family: var(--tipo-texto_contacto);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.44px;
  hyphens: none;
}

.confia_conteiner{
  width: 95%;
  height: 400px;
}

.slider{
  height: 250px;
  margin:auto;
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.slide-track{
  display:flex;
  width: calc(250px * 18);
  animation:scroll 40s linear infinite;
  background-color: white
}
@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-250px * 9));
  }
}

.slide{
  height: 150px;
  width: 250px;
  display:flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;

}

img{
  width: 100%;
  transition: transform 1s;
}
img:hover{
  transform: translateZ(20px);
}


@media screen and (max-width: 900px){
  .med_lab_portada {
    flex-direction:column;
    gap: 20px;
  }

  .med_lab_portada{
    width: 100%;
  }
  .med_lab_container_text{
    width: 100%;
    padding: 15px;
  }
  .img_med_lab_container {
    width: 90%;
  }
  .med_lab_portada_texto {
    width: 100%;
    padding: 65px 10px 5px 15px;
  }
  .med_lab_titulo p{
    text-align: center;
    font-size: 38px;
    line-height: 42px;
  }
  .med_lab_texto {
    width: 100%;
  }
  .btn-contacto{
    justify-content: center;
  }
  .med_lab_portada_img{
    width: 100%;
  }
  .prest_titulo p {
    hyphens: none;
    font-size: 38px;
    line-height: 42px;
  }
  .cuadrosUno_prestaciones{
    width: 90%;
  }
  .row{
    flex-direction: column;
    gap: 10%;
  }
  .card{
    margin-bottom:5%
  }
  .cuadro_img {
    width: 40%;
  }
  .img-art{
    width: 80px;
    height: 80px;
  }
  .cuadro_texto {
    width: 60%;
  }
  .p_cuadro{
    font-size: 14px;
    line-height: 20px;
  }
  /* .ultimos_cuadros{
    width: 100%;
  } */
  /* .contenido{
    flex-direction: column;
    width: 100%;
    gap: 15px;
  } */
  .prestaciones_container{
    padding-top: 5%;
  }
  .primer{
    width: 318px;
  }
   .segundo{
    width: 318px;
  }
  .md_lab_emp_conteiner{
    flex-direction:column-reverse;
    height: auto;
    padding-top: 5%;
  }

  .section_prestaciones{
    padding-bottom: 5%;
  }
  .md_lab_empresas{
    height: auto;
  }
  .emp_texto{
    height: auto;
    width: 100%;
  }
  .emp_text_conteiner{
    height: auto;
  }
  .emp_img{
    width: 95%;
    height: auto;
  }
  .img_servmedlab {
    height: auto;
  }
  .tasas{
    height: auto;
  }
  .tasas_cuadro_rojo{
    width: 95%;
    height: auto;
    float: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }
  .tasas_texto_izq {
    font-size: 28px;
    padding: 15px;
    width: 95%;
  }
  .tasas_container{
    height: auto;
  }
  .lista_flotante{
    position: inherit;
    width: 100%;
    height: auto;
  }
  .tasas_texto_derecho {
    height: auto;
    width: 95%;
  }
  .cuadro_lista{
    flex-direction: column;
  }
  .lista_derecha{
    width: 100%;
    padding-top: 0;
  }
  .lista_izq {
    width: 100%;
    padding-top: 0;
  }
  .titulo_confia p {
    font-size: 38px;
    line-height: 40px;
  }
  .titulo_flotante p{
    line-height: 35px;
  }
  .confia_conteiner{
    height: auto;
  }
  .titulo_servmedlab{
    font-size: 38px;
    line-height: 40px;
  }
  #card_cuadros1 {
    width: auto;
    float:initial;
  }
  #card_cuadros2{
    width: auto;
    float:initial;
  }

}
