:root {
  --negro: #393939;
  --texto-contacto-color:#F8F7F6;
  --color-titulo:#2D2926;
  /* Tipografía */
  --tipo-texto_contacto: 'Nunito', sans-serif;
  --titulo: 'Montserrat', sans-serif;
}

.section_nosotros{
  width: 100%;
  margin: 0 auto;
}
.imagen_40{
  position: absolute;
  width: 154px;
  height: 48px;
  top: 680px;
  left: 70%;
}
.nosotros{
  position: absolute;
  width: 154px;
  height: 48px;
  top: 680px;
  left: 7.5%;
  background-color:#06423A;
  color: #fff;
  font-size:20px;
  font-family: var(--tipo-texto_contacto);
  display: flex;
  justify-content: center;
  align-items: center;
}

.texto_principal{
  position: absolute;
  top: 740px;
  left: 7.5%;
  width: 60%;
  height: 100px;
  color:#EEF3F0;
}
.texto_principal h1{
  font-family: var(--tipo-texto_contacto);
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 52px; /* 108.333% */
letter-spacing: -1.44px;
  margin: 0;
  font-size: 2.5em;
  hyphens: none;
  text-align: left;
}

.nos_imagen_vector{
  /* Vector */
  position: absolute;
  width: 84%;/*1152px;*/
  height: 196px;
  top: 660px;
  left: 0px;
  background: rgba(166, 30, 47, 0.95);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  border-radius: 25px 0px 0px 0px;
}

.nosotros_portada{
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.img_portada_nosotros{
  width: 100%;
}

.cards_conteiner{
  width: 95%;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 30px 20px 30px 30px;
}

.cards{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content:center;
 align-items: center;
}
.card1{
  width: 30%;
  border-radius: 8px;
}

.card2{
  width: 30%;
  border-radius: 8px;
}
.card3{
  width: 30%;
  border-radius: 8px;
}
.card_header{
  width: 100%;
  height: 250px;
  background-color:#A61E2F;
  border-radius: 8px;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  
}
.text-titulo{
  width: 100%;
  height: 7em;
  display: flex;
  align-items: center;
  padding-top: 5%;
}

.text-titulo p{
  color: var(--texto-contacto-color);
  font-family: var(--tipo-texto_contacto);
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 20.313% */
  letter-spacing: -0.18px;
  
}
.text-subtitle{
  width: 100%;
}
.text-subtitle p{
  color: var(--texto-contacto-color);
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
}

.card_body{
  width: 100%;
  height: 250px;
  display: flex;
  text-align: left;
}

.card_body p{
  color: #000;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
  hyphens: none;
  padding-top: 5%;
}

.nosotros_historia{
  width: 100%;
  /* height: 600px; */
  display: flex;
}

.historia_conteiner{
  width: 95%;
  display: flex;
}

.historia_texto{
  width: 50%;
  padding: 35px;
}

.historia_img{
  width: 50%;
  object-fit: contain;
}

.titulo{
  width: 100%;
  text-align: left;
}

.titulo p{
  color: #000;
  font-family: var(--titulo);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 100% */
  letter-spacing: -2.16px;
}

.texto{
  width: 100%;
  height: 400px;
  hyphens: none;
  text-align: left;
  color: #000;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
}

.resaldado{
  font-weight: bold;
}

.nosotros_mision{
  width: 100%;
}

.mision_conteiner{
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 7%;
  padding-bottom: 2%;
}
.card4{
  width: 20%;
  margin: 0;
  border-radius: 8px;
  background:  #F8F7F6;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
  padding: 15px;
  height: 580px;
}

.card_img{
  width: 100%;
  height: 170px;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  display: flex;
  align-items: center;
}
.card_text{
  width: 100%;
  hyphens: none;
  padding: 10px;
}

.img_m{
  width: 110px;
  height: 110px;
}

.card_text h4{
  color:  #2D2926;
  text-align: center;
  font-family: var(--tipo-texto_contacto);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.44px;
}
.cuadros_texto_m{
  color: #2D2926;
  text-align: center;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
}

.nosotros_investigacion{
  width: 100%;
  padding-top: 5%;
}

.investigacion_container{
  width: 95%;
  display: flex;
  padding-top: 3%;
}
.titulo_docencia{
  width: 100%; 
}

.titulo_d{
  color: #000;
  text-align: center;
  font-family: var(--titulo);
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 100% */
  letter-spacing: -2.16px;
}

.texto_investigacion{
  width: 100%;
}

.img_investigacion{
  width: 100%;
  display: flex; 
}

.titulo_inv{
  color: #000;
  font-family: var(--tipo-texto_contacto);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px; /* 122.222% */
  letter-spacing: -1.08px;
  text-align: left;
  padding-bottom: 5%;
}

.text_inv p{
  color: #000;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 162.5% */
  letter-spacing: 0.1px;
  text-align: left;
  margin-bottom: 7%;
  hyphens: none;
}

.text_inv{
  width: 100%;
  padding-right: 15%;
}

.img_inv{
  width: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin: 0;
  object-fit:cover ;
}

.img_d1{
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.nosotros_docencia{
  width: 100%;
  padding-bottom: 20px;
}

.docencia_conteiner{
  width: 95%;
  display: flex;
}
.img_docencia{
  width: 50%;
}
.text_docencia{
  width: 50%;
}

.img_doc{
  width: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.img_d2{
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.texto_doc{
  width: 85%;
  hyphens: none;
  text-align: left;
  padding-left: 5%;
}

.texto_doc p{
  color: #000;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.1px;
}


@media screen and (max-width: 900px){
  .section_nosotros{
    margin-top:10%;
  }
  .cards_conteiner{
    flex-direction: column;
    width: 100%;
    padding:5%;
    gap:10px
  }
  .texto_principal{
    display: none;
  }
  .nos_imagen_vector{
    width: 84%;
    height: 68px;
    top: 220px;
  }
  .nosotros{
    width: 150px;
    height: 20px;
    top: 225px;
    font-size: 12px;
    align-items: inherit;
  }
  .imagen_40{
    width: 80px;
    height: 38px;
    top: 230px;
    left: 55%;
  }
  .card1{
    width: 100%;
  }
  .card2{
    width: 100%;
  }
  .card3{
    width: 100%;
  }

  .card1 .card_body{
    height: auto;
  }
  .card2 .card_body{
    height: auto;
  }
  .card3 .card_body{
    height: auto;
  }

  .historia_conteiner{
    flex-direction: column;
    padding: 10px;
  }
  .historia_texto{
    width: 100%;
    padding: 0;
    height: auto;
  }
  .titulo{
    text-align: center;
  }
  .titulo p{
    font-size:38px;
    line-height:20px;
    letter-spacing:0;
  }
  .texto{
    height: auto;
  }
  .historia_img {
    width: 100%;
  }
  .mision_conteiner{
    flex-direction: column;
    width: 90%;
    padding-bottom: 20px;
  }
  .card4{
    width:100%;
    height: auto;
  }
  .titulo_d {
    font-size: 38px;
    line-height: 40px;
  }
  .investigacion_container{
    flex-direction: column;
  }
  .titulo_inv {
    font-size: 32px;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: center;
    padding-bottom: 0;
  }
  .text_inv{
    padding-right: 0;
  }
  .img_d1{
    border-radius: 10px;
  }

  .docencia_conteiner {
    flex-direction: column-reverse;
  }
  .text_docencia {
    width: 100%;
  }
  .texto_doc{
    width: 100%;
    padding-left:0;
  }

  .nosotros_docencia{
    padding-top: 20px;
  }

  .img_docencia{
    width: 100%;
    border-radius: 10px;
    padding-bottom: 20px;
  }
  .img_d2{
    border-radius: 10px;
  }
}

@media screen and (max-width: 620px){
  .section_nosotros{
    margin-top:20%;
  }
}