:root {
  --negro: #393939;
  --texto-contacto-color:#F8F7F6;
  --color-titulo:#2D2926;
  /* Tipografía */
  --tipo-texto_contacto: 'Nunito', sans-serif;
  --tipo-secundaria: Verdana;
}
.section_principal{
  width: 100%;
  margin: 0 auto;
}
.imagen_vector{
  width: 635px;
  height: 350px;
  flex-shrink: 0;
  position: absolute;
  left: 0px;
  top: 250px;
  background: rgba(166, 30, 47, 0.75);
  border-radius: 6px 55px 2px 6px;
-webkit-border-radius: 6px 55px 2px 6px;
-moz-border-radius: 6px 55px 2px 6px;

}
.circulo_espiral{
  object-fit: contain;
  width: 100%;
}

.imagen_espiral_uno{
  width: 200px;
  height: 134.52px;
  position: absolute;
  top: 500px;
  left: 550px;
}
.imagen_espiral_dos{
  width:  300px;
  height: 202.265px;

  position: absolute;
  top: 520px;
  /*right: 866px;
  bottom:0px;
  left: 244px;*/
  left: 340px;
}

.texto_juntos{
  color: #FFF;
  font-size: 26.987px;
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 350px;
  left: 280.40px;
}

.imagen_circulo_verde{
  width: 101.54px;
  height: 101.54px;
  position: absolute;
  top: 550px;
  left: 505px;
}
.circle {
  background:#A7C3B3;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: .6;
}

.texto_cuidando{
  color: #FFF;
  font-size: 36px;
  font-family: Inter;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  position: absolute;
  top: 380px;
  left: 280px;
  }

  .texto_de_vos{
    color: #FFF;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    position: absolute;
    top: 420px;
    left: 280.40px;
  }

  .imagen_cuatro{
    color: #FFFFFF;
    position: absolute;
    width:90px;
    height:121.5px;
    top: 350px;
    left:78px;
  }
  
  .imagen_cero{
    color: #FFFFFF;
    position: absolute;
    width:90px;
    height:126px;
    top: 347px;
    left:168px;
  }
.principal_portada{
  width: 100%;
  margin: 0 auto;
  background-size: cover;
}

.img_portada_principal{
  width: 100%;

}

.principal_contacto{
  background-color:#A61E2F;
  width: 100%;
  display: flex;
}


.icono{
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  margin: 0;
}

.icono_ubicacion{
  width: 20px;
  height: 24px;
  flex-shrink: 0;
  margin: 0;
}

.contacto_tel{
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contacto_tel p{
  margin: 0;
  color: var(--texto-contacto-color);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
  font-family: var(--tipo-texto_contacto);
}


.contacto_email{
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.contacto_email a{
  margin: 0;
  color: var(--texto-contacto-color);
  font-family: var(--tipo-texto_contacto);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.72px;
}

.contacto_direccion{
  width: 30%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.contacto_direccion p{
  margin: 0;
  color: var(--texto-contacto-color);
  font-family: var(--tipo-texto_contacto);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.72px;
  white-space: pre-wrap;
}

.mapa_direccion{
  background-color:darkgray;
  width: 100%;
}

.principal_carrousel{
  width: 100%;
  background-color: #dcdcdc;
}

.titulo{
  width: 100%;
}

.titulo h1{
  color: var(--color-titulo);
  text-align: center;
  font-family: var(--tipo-texto_contacto);
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; 
  letter-spacing: -1.08px;
  padding: 20px;
}

.principal_redes{
  width: 100%;
  background-color: #dcdcdc;
}

.redes_sociales{
  width: 95%;
}

.card-text{
  hyphens: none;
  text-align: left;
  color: var(--neutro, #2D2926);
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  letter-spacing: -0.18px;
}
.card-title{
  color: var(--neutro, #2D2926);
  font-family: var(--tipo-texto_contacto);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-align: left;
}



@media screen and (max-width: 1024px){
  .contacto_tel p {
    font-size:16px;
  }
  .contacto_email a{
    font-size:16px;
  }
  .contacto_direccion p{
    font-size:16px;
  }
  .icono {
    width: 20px;
    height: 20px;
  }
  .icono_ubicacion {
    width: 15px;
    height: 18px;
  }
}

@media screen and (max-width: 900px){
  .imagen_vector{
    width: 250px;
    height: 120px;
    top: 150px;
  }
  .imagen_cuatro {
    width: 30px;
    height: 30px;
    top: 190px;
    left: 20px;
  }
  .texto_juntos{
    font-size: 14px;
    top: 190px;
    left: 80.4px;
  }
  .texto_cuidando{
    font-size: 14px;
    top: 205px;
    left: 80px;
  }
  .texto_de_vos{
    top: 220px;
    left: 80.4px;
    font-size: 14px;
  }
  .cuatro {
    width: 30px;
    height: 45px;
}

  .imagen_cero {
    width: 90px;
    height: auto;
    top: 190px;
    left: 20px;
  }

  .section_principal{
    margin-top: 10%;
  }
  .principal_contacto{
    flex-direction: column;
  }
  .contacto_tel{
    width: 100%;
    height: 40px;
  }
  .contacto_direccion{
    width: 100%;
    height: 40px;
  }
  .contacto_email{
    width: 100%;
    height: 40px;
  }
  
  .titulo h1{
    font-size:26px;
  }
  
}

@media screen and (max-width: 620px){
  .section_principal{
    margin-top: 20%;
  }
  .contacto_tel p {
    font-size:14px;
  }
  .contacto_email a{
    font-size:14px;
  }
  .contacto_direccion p{
    font-size:14px;
  }
  .icono {
    width: 20px;
    height: 20px;
  }
  .icono_ubicacion {
    width: 15px;
    height: 18px;
  }
}