:root {
  --negro: #393939;
  --texto-contacto-color:#F8F7F6;
  --color-titulo:#2D2926;
  /* Tipografía */
  --tipo-texto_contacto: 'Nunito', sans-serif;
  --tipo-secundaria: Verdana;
}

.section_servicios{
  width: 100%;
  margin: 0 auto;
  margin-top: 6%;
}

.servicios_portada{
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  /* flex-shrink: 0;
  filter: blur(2px); */

}

.servicios_guardia{
  width: 100%;
}

.guardia_container{
  width: 95%;
  display: flex;
}

.img_guardia{
  width: 50%;
  display: flex;
  padding-top: 5%;
}
.cuadro_guardia{
  width: 50%;
  display: flex;
  padding-top: 5%;
}
.img_g{
  width: 90%;
  height: 300px;
  margin: 0px;
  border-radius: 10px;
}

.imagen_fondo_serv_prest{
    width: 100%;
    height: 300px;
    background-size:cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.guardia_text{
  background-color: #F8F7F6;
  width: 90%;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 0;
}
.titulo_guardia{
  width: 90%;

}

.titulo_guardia p{
  color: #A61E2F;
  font-family: var(--tipo-texto_contacto);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-align: left;
  hyphens: none;
}

.lista_guardia{
  width: 90%;
}

.lista_guardia ul li{
  list-style-type: disc;
  color:  #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.18px;
  text-align: left;
  hyphens: none;
}
.cuadro_guardia_text{
  width: 100%;
}

.guardia_text_container{
  width: 95%;
  display: flex;
  padding-top: 2%;
}

.cuadro_iqz{
  width: 50%;
  height: 300px;
  margin: 0px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  display: flex;
}

.cuadro_der{
  width: 50%;
  display: flex;
}
.text_izq{
  width: 90%;
  margin: 0;
}


.titulo_g p{
  color:#2D2926;
  font-family:var(--tipo-texto_contacto);
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 52px; /* 108.333% */
  letter-spacing: -1.44px;
  text-align: left;
}

.text_g{
  width: 100%;
}

.text_g p{
  color: #2D2926;
  font-family:var(--tipo-texto_contacto);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.26px;
  hyphens: none;
  text-align: left;
}

.cuadro_shock{
  background-color: #F8F7F6;
  height: 300px;
  width: 90%;
  margin-right: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  padding: 40px;
}


.titulo_shock p{
  color:  #A61E2F;
  font-family: var(--tipo-texto_contacto);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 116.667% */
  letter-spacing: -0.72px;
  text-align: left;
}

.text_shock{
  width: 100%;
}

.text_shock p{
  hyphens: none;
  color:  #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  letter-spacing: -0.18px;
  text-align: left;
}

.seccion_especialidades{
  width: 100%;
}

.seccion_especialidades2{
  background-color: blue;
  width: 100%;
}

.especialidades_container{
  width: 95%;
  display: flex;
  padding-top: 5%;
}
.especialidades_container2{
  background-color: blueviolet;
  width: 95%;
  display: flex;
  padding-top: 5%;
}

.especialidades_img_izq{
  background-color: aqua;
  width: 50%;
  display: flex;
}

.especialidades_text_izq{
  width: 50%;
  background-color: chocolate;
  display: flex;
  flex-direction: column;
}

.especialidades_text_derecho{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 45px;
  gap: 20px;
}

.img_es{
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.img_es_derecha{
  width: 50%;
  object-fit: cover;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}

.titulo_derecho{
  width: 80%;
  margin: 0px;
}
.titulo_izq{
  width: 80%;
  margin: 0px;
  hyphens: none;
}

.titulo_derecho p{
  text-align: left;
  color: #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 62px; /* 103.333% */
  letter-spacing: -1.8px;
  hyphens: none;
}

.titulo_izq p{
  text-align: left;
  color: #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 62px; /* 103.333% */
  letter-spacing: -1.8px;
}

.text_derecho{
  width: 100%;
}

.text_derecho p{
  text-align:left;
  color:  #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
  hyphens: none;
}
.resaltado{
  font-weight: bold;
}
.text_izq p{
  width: 95%;
  text-align:left;
  color:  #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
  hyphens: none;
}

.especialidades_text_izq {
  width: 50%;
}

.lista_izq{
  background-color: crimson;
  width: 100%;
  text-align:left;
  color:  #2D2926;
  font-family: var(--tipo-texto_contacto);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
  hyphens: none;
}

.lista_izq ul li{
  list-style-type: disc;
}
@media screen and (max-width: 900px){
  .section_servicios {
    margin-top: 20%;
  }
  .guardia_container{
    flex-direction: column-reverse;
  }
  .cuadro_guardia {
    width: 100%;
  }
  .guardia_text {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
  }
  .titulo_guardia p{
    font-size:22px;
  }
  .lista_guardia ul li{
    font-size: 14px;
  }
  .img_guardia{
    width: 100%;
    justify-content: center;

  }
  .imagen_fondo_serv_prest{
    height: auto;
    border-radius: 15px;
  }
  .img_g {
    height: auto;
    margin:0;
    width: 100%;
  }
  .lista_guardia {
    width: 100%;
  }
  .guardia_text_container{
    display: flex;
    flex-direction: column;
  }
  .cuadro_iqz{
    width: 100%;
    height: auto;
    border-radius: 15px;
    display: block;
  }
  .text_izq{
    width: 100%;
    height: auto;
  }
  .cuadro_der{
    width: 100%;
  }
  .text_g{
    padding: 20px;
  }
  .cuadro_shock{
    height: auto;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
  }
  .titulo_g p{
    text-align:center;
  }
  .especialidades_container{
    flex-direction: column-reverse;
    padding-bottom: 5%;
  }
  .especialidades_text_derecho{
    padding-left: 0;
    width: 100%;
    gap: 0;
  }
  .titulo_derecho{
    width: 100%;
  }
  .titulo_derecho p{
    font-size:48px;
    text-align: center;
    line-height: 42px;
  }
  .especialidades_img_izq {
    width: 100%;
  }
  .img_es{
    border-radius: 15px;
  }
  .seccion_especialidades2 {
    padding-bottom: 5%;
  }
  .especialidades_container2 {
    flex-direction: column;
  }
  .especialidades_text_izq{
    width: 100%;
  }
  .titulo_izq{
    width: 100%;
  }
  .titulo_izq p {
    text-align: center;
    font-size:48px;
  }
}

