

  <div class="footer-contenido">
    <div class="imagenes_40">
       <div class="footer-img">
        <img src="imagenes/logo_iot.png"  class="img_f1">
        <img src="imagenes/40_juntos.png"  class="img_f2">
      </div>
      <div class="footer-data">
         <div class="footer-texto1">
          <div class="redes">
            <p><a href="https://www.facebook.com/iot.sanatoriointegral" target="_blank"><img src="imagenes/facebook_logo.png" class="facebook"></a></p>
            <p><a href="" target="_blank"><img src="imagenes/Twitter_logo.png" class="twitter"></a></p>
            <p><a href="" target="_blank"><img src="imagenes/linkedin_logo.png" class="linkedin"></a></p>
            <p><a href="https://www.instagram.com/iotsanatorio/" target="_blank"><img src="imagenes/instagram_logo.png" class="instagram"></a></p>
          </div> 
          </div>
        </div> 
    </div>
    <div class="footer-link-contactos">
      <div class="footer-texto2">
        <div class="footer-links">
         <p class="links-links">Links</P>
         <p><a href="index.php">Home</a></p>
         <p><a  href="?p=nosotros">Nosotros</a></p>
         <p><a  href="?p=serv_prest">Servicios y prestaciones</a></p>
         <p><a  href="?p=esp_med">Especialidades medicas</a></p>
       </div> 
     </div>
     <div class="footer-texto3">
        <div class="footer-contacto">
         <p class="contacto-contacto">Contacto</p>
         <div class="data_contacto">
            <div class="text_tel">
              <img src="imagenes/ant-design_phone-filled.png" class="tel">
              <p class="text_p"> (+54) 0376-4440540</p>
            </div>
            <div class="text_tel">
              <img src="imagenes/dashicons_email.png" class="mail">
              <a href="mailto:info@sanatorioiot.com.ar" class="email_a"> info@sanatorioiot.com.ar</a>
            </div>
            <div class="text_tel">
              <img src="imagenes/direccion.png" class="dir">
              <p> Bolivar 2376 - CP:3300. <br>Posadas, Misiones - Argentina</p>
            </div>
         </div>
         
         
       </div> 
     </div>
    </div>
  </div>
