
  <div class="footer-img"><img src="imagenes/logo_iot.png"  class="img_f"></div>
  <div class="footer-texto">Aspiramos a ser un centro de salud de referencia en la región, ser innovadores en la combinación de excelencia médica, académica y tecnológica. Progresar en el trabajo coordinado y humanizado para brindar una atención integral a cada paciente e interactuar con la comunidad en la salud preventiva</div>
  <div class="footer-links">
    <div class="links-links">Links</div>
    <div class="links-home"><a class="navbar-brand" href="index.php">Home</a></div>
    <div class="links-nosotros"><a class="navbar-brand" href="?p=nosotros">Nosotros</a></div>
    <div class="links-serv_prest"><a class="navbar-brand" href="?p=serv_prest">Servicios y prestaciones</a></div>
    <div class="links-esp_med"><a class="navbar-brand" href="?p=esp_med">Especialidades medicas</a></div>
    <!--p class="links-med_lab"><a class="navbar-brand" href="?p=med_lab">Medicina laboral</a></p-->
    <div class="links-contacto"><a class="navbar-brand" href="?p=contacto">Conacto</a></div>
  </div>
  <div class="footer-contacto">
    <div class="contacto-contacto">Contacto</div>
    <div class="contacto-telefono"><img src="imagenes/ant-design_phone-filled.png" class="tel"> (+54) 0376-4440540</div>
    <div class="contacto-mail"><a href="mailto:info@sanatorioiot.com.ar" ><img src="imagenes/dashicons_email.png" class="mail"> info@sanatorioiot.com.ar</a></div>
    <div class="contacto-direccion"><img src="imagenes/direccion.png" class="dir"> Bolivar 2376 - CP:3300. Posadas, Misiones - Argentina</div>
  </div>
