
  
  <div class="footer-contenido">
    <div class="footer-img"><img src="imagenes/logo_iot.png"  class="img_f"></div>
    <div class="footer-data">
      <div class="footer-texto1"> <p>Aspiramos a ser un centro de salud de referencia en la región, ser innovadores en la combinación de excelencia médica, académica y tecnológica. Progresar en el trabajo coordinado y humanizado para brindar una atención integral a cada paciente e interactuar con la comunidad en la salud preventiva</p> 
        <div class="redes">
          <p><a href=""><img src="imagenes/facebook_logo.png" class="facebook"></a></p> 
          <p><a href=""><img src="imagenes/Twitter_logo.png" class="twitter"></a></p>
          <p><a href=""><img src="imagenes/linkedin_logo.png" class="linkedin"></a></p>
          <p><a href=""><img src="imagenes/instagram_logo.png" class="instagram"></a></p>
        </div>
      </div>
      <div class="footer-texto2">
        <div class="footer-links">
          <p class="links-links">Links</P>
          <p><a href="index.php">Home</a></p>
          <p><a  href="?p=nosotros">Nosotros</a></p>
          <p><a  href="?p=serv_prest">Servicios y prestaciones</a></p>
          <p><a  href="?p=esp_med">Especialidades medicas</a></p>
        </div>
      </div>
      <div class="footer-texto3">
        <div class="footer-contacto">
          <p class="contacto-contacto">Contacto</p>
          <p><img src="imagenes/ant-design_phone-filled.png" class="tel"> (+54) 0376-4440540</p>
          <p><a href="mailto:info@sanatorioiot.com.ar" ><img src="imagenes/dashicons_email.png" class="mail"> info@sanatorioiot.com.ar</a></p>
          <p><img src="imagenes/direccion.png" class="dir"> Bolivar 2376 - CP:3300. Posadas, Misiones - Argentina</p>
        </div> 
    </div>
   
  </div>
