<div>
  <p class="footer-img"><img src="imagenes/logo_iot.png" style="width: 136px; height:80px"></p>
  <p class="footer-texto">Aspiramos a ser un centro de salud de referencia en la región, ser innovadores en la combinación de excelencia médica, académica y tecnológica. Progresar en el trabajo coordinado y humanizado para brindar una atención integral a cada paciente e interactuar con la comunidad en la salud preventiva</p>
  <div class="footer-links">
    <p class="links-links">Links</p>
    <p class="links-home"><a class="navbar-brand" href="index.php">Home</a></p>
    <p class="links-nosotros"><a class="navbar-brand" href="?p=nosotros">Nosotros</a></p>
    <p class="links-serv_prest"><a class="navbar-brand" href="?p=serv_prest">Servicios y prestaciones</a></p>
    <p class="links-esp_med"><a class="navbar-brand" href="?p=esp_med">Especialidades medicas</a></p>
    <!--p class="links-med_lab"><a class="navbar-brand" href="?p=med_lab">Medicina laboral</a></p-->
    <p class="links-contacto"><a class="navbar-brand" href="?p=contacto">Conacto</a></p>
  </div>
</div>
